@model AspCoreCrudProject.Models.Employee

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Employee</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Emp_Id" />
            <div class="form-group">
                <label asp-for="Emp_Name" class="control-label"></label>
                <input asp-for="Emp_Name" class="form-control" />
                <span asp-validation-for="Emp_Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Emp_Age" class="control-label"></label>
                <input asp-for="Emp_Age" class="form-control" />
                <span asp-validation-for="Emp_Age" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Emp_Gender" class="control-label"></label>
                <input asp-for="Emp_Gender" class="form-control" />
                <span asp-validation-for="Emp_Gender" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Emp_JoiningDate" class="control-label"></label>
                <input asp-for="Emp_JoiningDate" class="form-control" />
                <span asp-validation-for="Emp_JoiningDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Designation" class="control-label"></label>
                <input asp-for="Designation" class="form-control" />
                <span asp-validation-for="Designation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Emp_Salary" class="control-label"></label>
                <input asp-for="Emp_Salary" class="form-control" />
                <span asp-validation-for="Emp_Salary" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
